/*reset rules*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}
/* container rules */
.container .row{
    display: flex;
    justify-content: space;
    align-items: center;
    height: 100%;
    width: 60%;
}


/* layout reules */
.nav-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    
}
.main-menu{
    display: flex;
    justify-content: center;
    gap: 10px
}

.cta{
    display: flex;
    justify-content: flex-end;
}

.col-40{
    width: 40%;
}
.col-10{
    width: 10%;
}
.row-45{
    height: 45%;
}
/* first section  */
.hero{
    background-color: rgb(24, 0, 183);
    display: flex;
    justify-content: center;
    align-items: center;
}

.future-img{
    background-color: rgb(255, 118, 214);
    height: 75%;
    width: 50%;
}

/* 3 section */
.section-type-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-type-2{
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1{
    background-color:rgb(19, 168, 242);
    width: 65%;
    height: 80%;
}

.col-2{
    background-color:rgb(245, 181, 222);
    width: 25%;
    height: 80%;
}


/*debug rules*/

.debug .nav-flex {
	border: 1px dashed black;
    background-color: rgb(194, 253, 255);
}

.debug .logo,.main-menu, .cta{
    border: 1px dashed black;
    background-color: rgb(255, 187, 0);
}

.debug .hero {
    border-bottom: 2px black;
    margin-bottom: 2px;
}

.debug .future-img{
    border: 1px dashed black;
}

.debug .col-1{
    border: 1px dashed black;
}

.debug .col-2{
    border: 1px dashed black;
}
